@{ ViewBag.Title = "About"; }

<h2>About Us</h2>

<p>This prototype was developed in 24 hours during <a href="http://rhok.org">Random Hacks of Kindness 2011</a>.</p>

<p>Team members:</p>

<ul>
<li><a href="http://saqibshaikh.com">Saqib Shaikh</a> (developer)</li>
<li>Peter Richardson</li>
<li>Muna Yassin</li>
<li>Shpetim Gula</li>
<li>Azeem Abu Bakar</li>
</ul>