@{ ViewBag.Title = "Home"; }

@if (!User.Identity.IsAuthenticated)
{
    <div id="login">
    @{ Html.BeginForm("LogIn", "Account"); }
    <h2>Log In</h2>
    <p>
    @Html.Label("emailAddress", "Email address:")
    @Html.TextBox("emailAddress")
    @Html.Label("password", "Password:")
    @Html.Password("password")
    <input type="submit" value="Log In" />
    </p>
    @{ Html.EndForm(); }
    </div>
}

<p>Blackball is a free debt management tool that empowers people to be more in control of their debts.  Our on-line or SMS text calendar reminders allows you to get on with day to day activities and achieve your financial or life goals.  Before those red letters arrive or the due dates on your next bill arrives, Blackball allows you to plan and imortantly prioritise your debts.</p>

<h2>How Does it Work?</h2>

<p>Simply register on the site and enter the details about your regular bills and income.  If you like you can also enter any life goals or savings wish list.</p>

<h2>Features</h2>

<ul>
<li>Map out your one-off or regular payments into a calendar</li>
<li>Recognise which are your priority and non-priority debts and set the due date reminders with priority</li>
<li>Ensure that you receive reminders by SMS and / or email </li>
<li>Make sure you have the payment reference and account details you need to pay whilst you are on the go  </li>
</ul>

<h2>Who is it For?</h2>

<p>Anyone with debts wishing to get back in control of their finances and life.</p>

<p>Debt advice, money guidance, fuel poverty and financial inclusion specialists.</p>

<h2>Getting Started</h2>

<p>We know it has taken a lot of courage to get to this point and that talking about money is difficult.</p>

<p>If you are seeing a debt advice professional then your advisor can register you and your debts onto the system.  You may have a trusted person or family member who can do this for you.</p>

<p>Your login and password enables you to add new debts at any time.</p>

<p class="registerButton">Register Now</p>