@model BlackBall.Models.RegistrationViewModel
@{ ViewBag.Title = "Register"; }

<h2>Register</h2>

@{ Html.BeginForm(); }
@Html.EditorForModel()
<input type="submit" value="Register" />
@{Html.EndForm(); }
